@{
    ViewBag.Title = "Products";
}

<div class="jumbotron">
    <h1>Products</h1>
    <p class="lead">Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction. <br/>
    Come browse our products and see what we have for you.</p>
    <p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click on the navbar button link to Create a Product or click below on the button that says Create a Product
        </p>
        <p><a class="btn btn-default" href="/Product/Index">Create a Product &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>Click here to learn more about General Store.</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in Touch</h2>
        <p>Click here to contact the owners of General Store with your comments/concerns.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Connect With Us &raquo;</a></p>
    </div>
</div>